[Unit]
Description=Battery Level Notification

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/battery-notify.sh

[Install]
WantedBy=default.target
